<footer class="footer bg-darkgrey py-5">
  <div class="container">
    <div class="row">
      <!-- About Section -->
      <div class="col-md-4 mb-4">
        <h5 class="text-light">About Todoist</h5>
        <p class="text-light">
          <a class="navbar-brand" routerLink="/" style="color: #BBE6E4;">
            <img src="../../../../assets/icons/logo.png" alt="Todoist Logo" width="30" height="30" class="d-inline-block align-text-top">
            Todoist
        </a>
        
           is the ultimate task management platform designed for professionals. Organize your tasks, set reminders, and stay productive with ease.
        </p>
      </div>

      <!-- Quick Links Section -->
      <div class="col-md-4 mb-4">
        <h5 class="text-light">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-light">Home</a></li>
          <li><a href="https://todoist.com/features" class="text-light">Features</a></li>
          <li><a href="/https://todoist.com/pricing" class="text-light">Pricing</a></li>
          <li><a href="https://doist.com/?utm_source=todoist&utm_medium=landing_page&utm_campaign=" class="text-light">Contact Us</a></li>
        </ul>
      </div>

      <!-- Social Links Section -->
      <div class="col-md-4 mb-4 text-center">
        <h5 class="text-light">Follow Us</h5>
        <a href="https://www.facebook.com/Todoist/" class="text-light me-3"><i class="pi pi-facebook pi-2x"></i></a>
        <a href="https://twitter.com/todoist?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="text-light me-3"><i class="pi pi-twitter pi-2x"></i></a>
        <a href="https://www.linkedin.com/showcase/todoist/" class="text-light"><i class="pi pi-linkedin pi-2x"></i></a>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <p class="text-light">&copy; 2024 Todoist. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
