<div [hidden]="configData.isHidden" class="parent-div">
  <div class="row">
    <fa-icon [icon]="faSearch" class="h-icon"></fa-icon>
    <div class="col-sm-12 col-lg-4 grid-search-box">
      <div class="search-box" *ngIf="gridIterfaceConfig?.isTableSearchable">
        <!-- <fa-icon [icon]="faSearch" class="search-icon"> </fa-icon> -->
        <input
          [id]="configData.propertyName"
          [(ngModel)]="searchTerm"
          class="form-control grid-search-input"
          placeholder="Search..."
          (input)="onFilterTextBoxChanged()"
          onkeydown="return(event.keyCode != 13)"
        />
      </div>
    </div>
    <div class="col-sm-12 col-lg-8 d-flex grid-buttons-div">
      <button
        *ngIf="
          gridIterfaceConfig?.isBulkAddEnabled ||
          gridIterfaceConfig?.isBulkEditEnabled
        "
        class="btn btn-primary btn-sm pl-1 pr-3 ml-auto"
        (click)="saveRowData($event)"
      >
        <fa-icon [icon]="faFloppyDisk" class="mx-2"> </fa-icon>
        Save Button
      </button>
      <button
        *ngIf="gridIterfaceConfig?.isExportToCSVEnabled"
        class="btn btn-primary btn-sm mx-1 pl-1 pr-3 export-btn"
        [ngClass]="{
          'ml-auto':
            !gridIterfaceConfig?.isBulkAddEnabled &&
            !gridIterfaceConfig?.isBulkEditEnabled,
        }"
        (click)="onBtnExport()"
      >
        <fa-icon [icon]="faFileCsv"> </fa-icon>
        Export
      </button>
      <button
        *ngIf="
          gridIterfaceConfig?.isRowAddable &&
          (!gridIterfaceConfig?.addNewRowBtnStyle?.position ||
            gridIterfaceConfig?.addNewRowBtnStyle?.position === 'top')
        "
        class="btn btn-sm mx-1 pl-1 pr-3"
        [ngClass]="{
          'ml-auto':
            !gridIterfaceConfig?.isExportToCSVEnabled &&
            !gridIterfaceConfig?.isBulkAddEnabled &&
            !gridIterfaceConfig?.isBulkEditEnabled,
        }"
        (click)="onClickAddRow()"
      >
        <fa-icon
          *ngIf="!gridIterfaceConfig?.addBtnLabel"
          [icon]="faPlus"
          class="mx-2"
        >
        </fa-icon>
        {{ gridIterfaceConfig?.addBtnLabel ?? 'New Row' }}
      </button>
    </div>
  </div>
  <ag-grid-angular
    [ngClass]="[
      getCustomCssClasses(),
      configData.styles.stylesClassName
        ? configData.styles.stylesClassName
        : '',
      themeClass,
      'grid-content',
    ]"
    [rowData]="gridRowData"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    (gridReady)="onGridReady($event)"
    [debounceVerticalScrollbar]="!isPaginationEnabled"
    [pagination]="isPaginationEnabled"
    [paginationPageSize]="paginationPageSize"
    [editType]="editType"
    (rowValueChanged)="onRowValueChanged($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    [singleClickEdit]="bulkEdit"
    [suppressDragLeaveHidesColumns]="true"
    (rowClicked)="onRowClicked($event)"
    [suppressClickEdit]="allowOpeningDrawer"
  >
  </ag-grid-angular>
</div>
